:root {
  --colorPrimary: #EEEEEE;
  --colorSecondary: #CCCCCC;
  --gutter: 30px;
  --gutterSmall: 15px;
  --gutterLarge: 45px;
  --typeColor: #5D5D5D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--colorPrimary);
  font-family: sans-serif;
  color: var(--typeColor);
}
.hidden {
  display: none !important;
}

#container {
  margin: 0 var(--gutterSmall);
}
.icon-male {
  background: url('img/male.png');
  width: 20px;
  height: 30px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.icon-female {
  background: url('img/female.png');
  width: 20px;
  height: 30px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.icon-minus {
  display: none;
}

.user {
  padding: 0 var(--gutterSmall);
}

.user:nth-of-type(odd) {
  background-color: var(--colorSecondary);
}

.user__avatar img {
  border-radius: 100%;
  border: 5px solid white;
  box-shadow: 0 0 3px var(--colorSecondary);
}

.user__info {
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-gap: var(--gutterSmall);
}

.user__toggle-btn {
  background-color: transparent;
  border: none;
}

.user-list__header {
  display: none;
}

.user--expanded .user__info-full {
  display: block;
}
.user--expanded .icon-plus {
  display: none;
}
.user--expanded .icon-minus {
  display: block;
}
.user__info-full {
  display: none;
}
.user__info-full div {
  margin-bottom: .5rem;
}
.user__info-full-content .user__avatar {
  display: none;
}
.user__info-full-heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.modal__container {
  position: fixed;
  top: 0; bottom: 0; right: 0; left: 0;
  background-color: rgba(0,0,0,.5);
}
.modal__close {
  position: absolute;
  top: 0; right: 0;
  cursor: pointer;
}
.modal__content {
  position: absolute;
  top: 50%; left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 100vw;
  max-height: 100vh;
  background: white;
  padding: var(--gutterSmall);
}
.modal__header {
  text-align: center;
  font-size: 1.5rem;
}
#piechart {
  max-width: 100%;
}

.search {
  width: 100%;
}
@media all and (min-width: 992px) {
  #container {
    margin: 0 var(--gutter);
  }

  .user-list__header {
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-gap: var(--gutterSmall);
    font-weight: bold;
    padding: 0 15px;
  }
  .user-list__header > div {
    display: grid;
    grid-template-columns: 98px repeat(5, 1fr);
    grid-gap: var(--gutterSmall);

  }
  .user__info-short {
    display: grid;
    grid-template-columns: auto repeat(5, 1fr);
    grid-gap: var(--gutterSmall);
    align-items: center;
  }

  .user__avatar img {
    margin-right: var(--gutterSmall);
  }

  .user__info-full {
    padding: var(--gutter) calc(var(--gutterLarge) * 2) var(--gutterLarge);
  }
  .user__info-full-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--gutter);
  }
  .user__info-full-content .user__avatar {
    display: block;
  }
}
