doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title title

    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
          a.navbar-brand(href="#")
           img(src="/assets/webpack.svg")
          button.navbar-toggler(data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
           span.navbar-toggler-icon
          .collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href="#!/") Home
              li.nav-item
                a.nav-link(href="#!/test1") test1
              li.nav-item
                a.nav-link(href="#!/test2") test2
        .container
          .row
            .col-12#content-area
        footer.page-footer.font-small.blue.pt-4(style="position: absolute; bottom: 0; width: 100%;")
          .container-fluid.text-center.text-md-left
            .row
              .col-md-6.mt-md-0.mt-3
                h5.text-uppercase Footer Content
                p Here you can use rows and columns here to organize your footer content.
              .col-md-6.mt-md-0.mt-3
                ul.navbar-nav
                  li.nav-item
                    a.nav-link(href="#!/") Home 
                  li.nav-item
                    a.nav-link(href="#!/test1") test1
                  li.nav-item
                    a.nav-link(href="#!/test2") test2
