mixin header(page)
  header.header
    .header__logo
      a(href='#')
        img(src="img/logo-blue--sm.png")
    .header__search
      form.header__search-form
        button.header__search-btn
          img(src="img/icon-search.svg")
        input.header__search-input

    .header__account(class=page.logged ? "" : "header__account--not-logged")
      .header__account-wrapper
        if page.logged
          a(href="#").header__account-profile 
            img(src="img/avatar.png").header__account-avatar
            span.header__account-name Name Name rgergerg ergergegergergerg ergergergegeer
              
          a(href="#")
            img(src="img/icon-account.svg").header__account-icon          
        else
          p.header__account-profile
            |Welcome, 
            a(href="#").header__account-link login
            |  or 
            a(href="#").header__account-link register
            |  for start!
          img(src="img/icon-account.svg").header__account-icon
      if page.logged
        .header__account-submenu
          a.btn Add new post
          a.btn Profile       
