mixin html-basis(page)
  html
    head
      title=page.title + ` - Sell it!`
      link(rel="stylesheet" href="css/style.css")
      meta(name="viewport" content="width=device-width, initial-scale=1")
    body(class=page.class)
      block
