mixin side-panel(panel)
  div.side-panel(class=(panel.opened ? "side-panel--opened " : "") + ("side-panel--" + panel.defaultMode))
    img.side-panel__logo(src="img/logo-white--md.png")
    .side-panel__mode
      label.btn.btn--white.side-panel__mode-btn(class=(panel.defaultMode === "login" ? "side-panel__mode-btn--active" : ""))
        input(type="radio" name="log" value="login" checked=(panel.defaultMode === "login" ? "checked" : undefined)) 
        | Sign In
      label.btn.btn--white.side-panel__mode-btn(class=(panel.defaultMode === "login" ? "" : "side-panel__mode-btn--active"))
        input(type="radio" name="log" value="signup" checked=(panel.defaultMode === "login" ? undefined : "checked"))
        | Sign Up
    .side-panel__form
      form.log-form
        if (panel.defaultMode === "login")
          label.log-form__field
            input(type="email" required placeholder=" ").log-form__input
            span.log-form__text Email
          label.log-form__field
            input(type="password" required placeholder=" ").log-form__input
            span.log-form__text Password
        else
          label.log-form__field
            input(type="text" required placeholder=" ").log-form__input
            span.log-form__text Name
          label.log-form__field
            input(type="email" required placeholder=" ").log-form__input
            span.log-form__text Email
          label.log-form__field
            input(type="password" required placeholder=" ").log-form__input
            span.log-form__text Password
          label.log-form__field
            input(type="password" required placeholder=" ").log-form__input
            span.log-form__text Repeat password
        button.btn.btn--white.btn--full.log-form__submit=(panel.defaultMode || "Sign Up")
