/* --- Product list --- */
@import "variables.scss";

.page-product-list {
  .page-container {
    margin-top: $space-xlg;
    margin-bottom: $space-xlg;

  }
}

.product-container {
  display: grid;
  grid-column-gap: $space-md;
  @media all and ($small-up) {
    grid-template-columns: repeat(2, 1fr)
  }
  @media all and ($medium-up) {
    grid-template-columns: repeat(4, 1fr)
  }
}

.product-card {
  &__title {
    background: $col-primary;
    color: $col-on-primary-bg;
    padding: $space-xsm $space-md $space-xsm $space-xsm;
    position: relative;
    // @include text-one-line(calc(100% - #{$space-md}) )
    &:after {
      content: ' ';
      display: block;
      width: 20px;
      height: 20px;
      background: url(../img/icon-eye.svg);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      right: $space-xsm;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
