/* --- page-login --- */
@import "variables.scss";
.page-login {
  background: url('../img/bg-page-login.png');
  background-size: cover;
  .page-container {
    display: grid;
    grid-template-columns: 1fr $side-panel-width;
  }
}
