/* --- side-panel --- */
@import "variables.scss";

.side-panel {
  @extend .wrapper;
  max-width: 100%;
  position: fixed;
  width: $side-panel-width;
  height: calc(100vh - 100px);
  right: 0;
  background: $col-primary;
  color: $col-on-primary-bg;
  text-align: center;
  padding-bottom: $space-sm;
  padding-top: 5vh;
  left: 100%;
  transition: transform .2s;
  &--opened {
    transform: translateX(-100%);
  }
  &__logo {
    padding-bottom: 10vh;
  }
  &__mode {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $space-sm;
    padding-bottom: 5vh;
  }
  &__mode-btn {
    position: relative;
    text-transform: capitalize;
    input {
      position: absolute;
      opacity: 0;
    }
    &--active {
      box-shadow: inset  0px -2px 0px 1px $col-selected;
    }
  }
}

.log-form {
  &__field {
    display: block;
    width: 100%;
    border-bottom: 2px solid $col-on-primary-bg;
    font-size: $font-size--sm;
    position: relative;
    margin-bottom: $space-lg;
  }
  &__input {
    width: 100%;
    padding-left: $space-sm;
    color: $col-on-primary-bg;
    &:focus + .log-form__text,
    &:not(:placeholder-shown) + .log-form__text {
      transform: translateY(120%) scale(.9);
    }
  }
  &__text {
    position: absolute;
    left: $space-sm;
    top: 50%;
    transform: translateY(-50%);
    transition: transform .2s;
  }
  &__submit {
    margin-top: $space-lg;
    text-transform: capitalize;
  }
}
