@import "variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family;
  padding-bottom: calc(#{$space-sm} * 2 + #{$font-size} * #{$line-height});
  color: $col-text;
  position: relative;
}

img {
  max-width: 100%;
}

input {
  border: 0;
  max-width: 100%;
  padding-top: $space-xsm / 2;
  padding-bottom: $space-xsm / 2;
  background: transparent;
  &:focus {
    outline: 1px solid $col-primary;
  }
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  border: 0;
}

main {
  padding-bottom: $space-xlg;
}

.wrapper {
  padding-right: $space-sm;
  padding-left: $space-sm;
  @media all and ($medium-up){
    padding-right: $space-lg;
    padding-left: $space-lg;
  }
}

.container-lg {
  max-width: 1440px;
  margin: auto;
  padding: 0 $space-xlg;
}

.btn {
  padding: $space-xsm $space-sm;
  background: $col-primary;
  color: $col-on-primary-bg;
  font-size: $font-size--sm;
  cursor: pointer;
  text-align: center;
}

.btn--white {
  background: white;
  color: $col-text;
}

.btn--full {
  width: 100%;
}


@import "header.scss";
@import "footer.scss";
@import "side-panel.scss";
@import "page-login.scss";
@import "page-product-list.scss";
