include snippets/html-basis.pug
include snippets/header.pug
include snippets/footer.pug
include snippets/side-panel.pug
+html-basis({
  title: "Log in or sign up",
  class: "page-login"
})
  +header({
    logged: false
  })
  .page-container
    main
    +side-panel({
      opened: true,
      defaultMode: 'login'
    })
  +footer()
