include snippets/html-basis.pug
include snippets/header.pug
include snippets/footer.pug
include snippets/side-panel.pug
include snippets/product-card.pug

- var products = [{  link: 'https://www.myntra.com/trolley-bag/safari/safari-unisex-black-regloss-antiscratch-large-suitcase/1850670/buy', img: 'http://assets.myntassets.com/assets/images/1850662/2017/5/19/11495186291209-Safari-Unisex-Maroon-Regloss-Antiscratch-Small-Trolley-Suitcase-1591495186290981-1.jpg',  title: 'Unisex Black Regloss-Antiscratch Large Suitcase'}, {  link: 'https://www.myntra.com/trolley-bag/safari/safari-unisex-black-regloss-antiscratch-large-suitcase/1850670/buy', img: 'http://assets.myntassets.com/assets/images/1850662/2017/5/19/11495186291209-Safari-Unisex-Maroon-Regloss-Antiscratch-Small-Trolley-Suitcase-1591495186290981-1.jpg',  title: 'Unisex Black Regloss-Antiscratch Large Suitcase'}, {  link: 'https://www.myntra.com/trolley-bag/safari/safari-unisex-black-regloss-antiscratch-large-suitcase/1850670/buy', img: 'http://assets.myntassets.com/assets/images/1850662/2017/5/19/11495186291209-Safari-Unisex-Maroon-Regloss-Antiscratch-Small-Trolley-Suitcase-1591495186290981-1.jpg',  title: 'Unisex Black Regloss-Antiscratch Large Suitcase'}, {  link: 'https://www.myntra.com/trolley-bag/safari/safari-unisex-black-regloss-antiscratch-large-suitcase/1850670/buy', img: 'http://assets.myntassets.com/assets/images/1850662/2017/5/19/11495186291209-Safari-Unisex-Maroon-Regloss-Antiscratch-Small-Trolley-Suitcase-1591495186290981-1.jpg',  title: 'Unisex Black Regloss-Antiscratch Large Suitcase'}, {  link: 'https://www.myntra.com/trolley-bag/safari/safari-unisex-black-regloss-antiscratch-large-suitcase/1850670/buy', img: 'http://assets.myntassets.com/assets/images/1850662/2017/5/19/11495186291209-Safari-Unisex-Maroon-Regloss-Antiscratch-Small-Trolley-Suitcase-1591495186290981-1.jpg',  title: 'Unisex Black Regloss-Antiscratch Large Suitcase'}, {  link: 'https://www.myntra.com/trolley-bag/safari/safari-unisex-black-regloss-antiscratch-large-suitcase/1850670/buy', img: 'http://assets.myntassets.com/assets/images/1850662/2017/5/19/11495186291209-Safari-Unisex-Maroon-Regloss-Antiscratch-Small-Trolley-Suitcase-1591495186290981-1.jpg',  title: 'Unisex Black Regloss-Antiscratch Large Suitcase'},];

+html-basis({
  title: "Product list",
  class: "page-product-list"
})
  +header({
    logged: true
  })
  .page-container
    +side-panel({
      opened: false,
      defaultMode: 'login'
    })
    main.container-lg
      .product-container
        each product in products
          +product-card({
            link: product.link,
            img: product.img,
            title: product.title
          })
  +footer()
